header {
  background-color: #202a63;
  text-align: "center";
  color: black;
  padding: 10px;
  border-bottom: 20px solid #26a4a6;
  border-radius: 20px;
  margin: 0;
}

.centered-image {
  width: 200px;
  display: block;
  margin: 20px auto;

  border-radius: 50%;
  border: 10px double white;
}

.center-aligned {
  text-align: center;
}

header p {
  color: rgb(226, 222, 216);
}

h2 {
  color: #26a4a6;
}

section {
  padding: 20px;
  border-bottom: 3px solid #26a4a6;
}

.navy-blue-text {
  color: #202a63;
  font-weight: bold;
  font-size: 18px;
}

.gray-italics-text {
  color: gray;
  font-style: italic;
}
.bold-text {
  font-weight: bold;
}

h3 {
  font-size: 16px;
}

body {
  font-family: sans-serif;
}

.random-div {
  background-color: red;
  border: 10px solid green;
  padding: 20px;
  margin: 10px;
  color: white;
}

.main-div {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
